.header {
    
}
.header h2 {
    font-weight: bold;
    font-size: 50px;
}
.header p {}

.body {
    width: 400px;
    margin: 0 auto;
}

.body .btn-green {
    background-color: green;
    color: white;
}